{
  "Architecture": "{{ ansible_architecture }}",
  "OperatingSystem": {
    "Family": "{{ ansible_distribution }}",
    "Version": {{ ansible_distribution_major_version }}
  },
  "FullyQualifiedDomainName": "{{ ansible_fqdn }}",
  "MACAddress": "{{ ansible_interfaces[0].macaddress }}",
  "DefaultGateway": "{{ ansible_interfaces[0].default_gateway }}",
  "IPAddress": "{{ ansible_ip_addresses[0] }}",
  "Memory": {
    "Physical": {{ ansible_memtotal_mb }},
    "Virtual": {{ ansible_swaptotal_mb }}
  },
  "PowershellVersion": {{ ansible_powershell_version }},
  "HardDrive": {
    "Capacity": {{ disk.Size }},
    "FreeSpace": {{ disk.FreeSpace }}
  }
}
